@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.reviews_section {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
.reviews_section_block {
  max-width: 638px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #000000;
  .reviews_section_block_header {
    max-width: 550px;
    width: 100%;
    padding-top: 92px;
    margin: 0 auto;
    h1 {
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 55px;
      line-height: 109.5%;

      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;

      color: #ffffff;
    }
    hr {
      width: 222.59px;
      margin: 21px auto;

      border: 3px solid #6d95fc;
    }
    p {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.085em;
      text-transform: uppercase;
      margin-top: 11px;

      color: #ffffff;
    }
  }
  .reviews_section_block_main {
    max-width: 548px;
    width: 100%;
    height: 314px;
    margin: 0 auto;
    margin-top: 95px;
    background: linear-gradient(
      175.64deg,
      rgba(17, 24, 42, 0.7) 19.67%,
      rgba(17, 24, 42, 0) 121.51%
    ) !important;
    border-radius: 38px;
  }
  .reviews_section_block_btn {
    margin: 95px auto;
    display: flex;
    justify-content: center;
    button {
      position: relative;
      width: 304px;
      height: 54px;

      border: 3px solid #6d95fc;
      border-radius: 2px;
      background: none;

      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;

      text-align: center;
      letter-spacing: 0.145em;
      text-transform: uppercase;
      transition: 0.6s;
      cursor: pointer;

      color: #ffffff;
    }
    button:hover {
      color: #000000;
      background-color: #6d95fc;
      transition: 0.5s;
    }
  }
}

@media screen and (max-width: 588px) {
  .reviews_section_block {
    padding: 0 10px 0 10px;
    .reviews_section_block_main {
      padding: 0 10px 0 10px;
    }
  }
}

@media screen and (max-width: 470px) {
  .reviews_section_block {
    padding: 0 12px 0 12px;
  }
  .reviews_section_block_main {
    padding: 0 25px 0 25px;
    height: 497px !important;
  }
  .reviews_section_block_header {
    h1 {
      font-style: normal;
      font-weight: 700 !important;
      font-size: 41px !important;
      line-height: 109.5% !important;
    }
    p {
      font-size: 19px !important;
    }
  }
  .reviews_section_block_btn {
    button{
      max-width: 250px !important;
    }
  }
}
