.Load {
  max-width: 100%;
  width: 100%;
  height: 120vh;
  background: black;
  position: fixed;
  background-repeat: no-repeat;
  z-index: 2000;
  opacity: 1;
  transition: 0.4s;
  background-size: cover;
  .content {
    padding-top: 24vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      width: 306px;
      height: 310px;
      object-fit: contain;
    }
    h1 {
      padding-top: 10px;
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 84px;
      line-height: 84px;
      text-align: center;
      letter-spacing: -0.025em;
      text-transform: uppercase;

      background: linear-gradient(
        180deg,
        rgba(109, 149, 252, 0.97) 0%,
        rgba(109, 144, 252, 0.399115) 71.35%,
        rgba(109, 140, 252, 0) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}

.LoadOff {
  display: none;
}

@media screen and (max-width: 770px) {
  .Load {
    width: 100%;
    height: 120vh;
    .content {
      padding-top: 32vh;
      img {
        object-fit: contain;
        width: 170px;
        height: 250px;
      }
      h1 {
        padding-top: 4px;
        font-family: "Josefin Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
        text-align: center;
        letter-spacing: -0.025em;
        text-transform: uppercase;

        background: linear-gradient(
          180deg,
          rgba(109, 149, 252, 0.97) 0%,
          rgba(109, 144, 252, 0.399115) 71.35%,
          rgba(109, 140, 252, 0) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .Load {
    .content {
      padding-top: 26vh;
      img {
        padding-top: 30px;
        object-fit: contain;
        width: 160px;
        height: 240px;
      }
      h1 {
        font-family: "Josefin Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        text-align: center;
        letter-spacing: -0.025em;
        text-transform: uppercase;
        background: linear-gradient(
          180deg,
          rgba(109, 149, 252, 0.97) 0%,
          rgba(109, 144, 252, 0.399115) 71.35%,
          rgba(109, 140, 252, 0) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .Load {
    .content {
      padding-top: 30vh;
      img {
        object-fit: contain;
        width: 160px;
        height: 200px;
      }
      h1 {
        padding-top: 6px;
        font-family: "Josefin Sans", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 38px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.025em;
        text-transform: uppercase;

        background: linear-gradient(
          180deg,
          rgba(109, 149, 252, 0.97) 0%,
          rgba(109, 144, 252, 0.399115) 71.35%,
          rgba(109, 140, 252, 0) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
  }
}
