.modal {
  width: 36px;
  height: 100vh;
  opacity: 0;
  transition: all 2s;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;

  .modal__gradient {
    display: flex;
    height: 100%;
    position: relative;
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.5s;

    .modal__close {
      position: absolute;
      top: 10px;
      left: 10px;
      max-width: 112px;
      min-width: 60px;
      width: 6vw;
      background: transparent;
      border: 1px solid #6d95fc;
      border-radius: 50%;
      aspect-ratio: 1;
      cursor: pointer;
    }

    .modal__text {
      max-width: 750px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-family: "Poppins", sans-serif;
      font-style: normal;
      padding: 30px;
      h1 {
        font-weight: 700;
        font-size: 55px;
        line-height: 109.5%;
        text-transform: uppercase;
        color: #6d95fc;
        margin: 0 0 20px 0;
      }

      p {
        font-weight: 300;
        font-size: 21px;
        color: #ffffff;
        text-align: center;
      }

      a {
        text-decoration: none;
        font-weight: 300;
        font-size: 21px;
        color: #6d95fc;
      }
    }

    .modal__image {
      min-width: 400px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.show {
  width: 100%;
  opacity: 1;
  background-color: black;
  transition: all 2s;
  user-select: auto;
  pointer-events: all;

  .modal__gradient {
    opacity: 1;
    transform: scale(1);
    transition: all 2s;
    transition-delay: 1s;
  }
}

@media screen and (max-width: 1024px) {
  .modal {
    .modal__gradient {
      display: flex;
      .modal__close {
        min-width: 60px;
      }

      .modal__text {
        max-width: 600px;
        h1 {
          font-size: 30px;
          margin: 0 0 20px 0;
        }

        p {
          font-size: 14px;
        }

        a {
          font-size: 14px;
        }
      }

      .modal__image {
        min-width: 350px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .modal {
    .modal__gradient {
      display: block;
      .modal__close {
        min-width: 60px;
      }

      .modal__text {
        max-width: 600px;
        h1 {
          font-size: 30px;
          margin: 0 0 20px 0;
        }

        p {
          font-size: 14px;
        }

        a {
          font-size: 14px;
        }
      }

      .modal__image {
        min-width: 350px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .modal {
    .modal__gradient {
      .modal__close {
        top: 10px;
        left: 10px;
        min-width: 50px;
      }

      .modal__text {
        max-width: 600px;
        h1 {
          font-size: 25px;
          margin: 0 0 20px 0;
        }

        p {
          font-size: 12px;
        }

        a {
          font-size: 12px;
        }
      }

      .modal__image {
        min-width: 350px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .modal {
    .modal__gradient {
      .modal__close {
        min-width: 40px;
      }

      .modal__text {
        max-width: 600px;
        h1 {
          font-size: 20px;
          margin: 0 0 20px 0;
        }

        p {
          font-size: 10px;
        }

        a {
          font-size: 10px;
        }
      }

      .modal__image {
        min-width: 350px;
      }
    }
  }
}
