.blackout {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding: 0 0 20px 0;
  h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 109.5%;
    text-transform: uppercase;
    color: #ffffff;
  }
  button {
    width: 230px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #6d95fc;
    border-radius: 2px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.145em;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transform: scale(0.5);
    transition: 1s;
  }
  button:hover {
    color: #000000;
    background-color: #6d95fc;
    transition: 0.5s;
  }
}

.blackout:hover {
  opacity: 1;
}

.blackout:hover button {
  transform: scale(1);
  transition: 1s;
}

@media screen and (max-width: 1024px) {
  .blackout {
    padding: 0 0 10px 0;
    h1 {
      font-size: 30px;
    }

    button {
      width: 180px;
      height: 30px;
      border: 2px solid #6d95fc;
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 768px) {
  .blackout {
    padding: 0 0 10px 0;
    h1 {
      font-size: 25px;
    }

    button {
      width: 120px;
      height: 25px;
      border: 1px solid #6d95fc;
      font-size: 8px;
    }
  }
}

@media screen and (max-width: 600px) {
  .blackout {
    padding: 0 0 30px 0;
    h1 {
      font-size: 55px;
    }

    button {
      width: 230px;
      height: 40px;
      border: 3px solid #6d95fc;
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 425px) {
  .blackout {
    padding: 0 0 10px 0;
    h1 {
      font-size: 30px;
    }

    button {
      width: 180px;
      height: 30px;
      border: 2px solid #6d95fc;
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 375px) {
  .blackout {
    padding: 0 0 10px 0;
    h1 {
      font-size: 25px;
    }

    button {
      width: 120px;
      height: 25px;
      border: 1px solid #6d95fc;
      font-size: 8px;
    }
  }
}
