﻿.last {
  position: relative;
  width: 100%;
  height: 100%;
  .back {
    background: linear-gradient(
      268.78deg,
      rgba(109, 149, 252, 0.67) -53.12%,
      rgba(109, 149, 252, 0) 30.39%
    );
    .hero {
      height: 100vh;
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      .hero_content {
        .left {
          display: flex;
          flex-direction: column;
          gap: 36px;
          h1 {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 65px;
            line-height: 111.49%;
            letter-spacing: 0.015em;
            text-transform: uppercase;
            color: #ffffff;
            span {
              color: #6d95fc;
            }
          }
          hr {
            border: 1px solid #6d95fc;
            width: 144px;
            height: 0px;
          }
          p {
            color: #ffffff;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 21px;
            line-height: 32px;
          }
          button {
            border: 3px solid #6d95fc;
            border-radius: 2px;
            width: 230px;
            height: 40px;
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.145em;
            text-transform: uppercase;
            color: #ffffff;
            cursor: pointer;
            background: none;
          }
          button:hover {
            color: #000000;
            background-color: #6d95fc;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .last {
    .back {
      .hero {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .hero_content {
          .left {
            display: flex;
            flex-direction: column;
            gap: 36px;
            h1 {
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 45px;
              line-height: 111.49%;
              letter-spacing: 0.015em;
              text-transform: uppercase;
              color: #ffffff;
              span {
                color: #6d95fc;
              }
            }
            hr {
              border: 1px solid #6d95fc;
              width: 144px;
              height: 0px;
            }
            p {
              color: #ffffff;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 32px;
            }
            button {
              border: 3px solid #6d95fc;
              border-radius: 2px;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 20px;
              text-align: center;
              letter-spacing: 0.145em;
              text-transform: uppercase;
              color: #ffffff;
              cursor: pointer;
              background: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .last {
    .back {
      .hero {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .hero_content {
          .left {
            display: flex;
            flex-direction: column;
            gap: 36px;
            h1 {
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 35px;
              line-height: 111.49%;
              letter-spacing: 0.015em;
              text-transform: uppercase;
              color: #ffffff;
              span {
                color: #6d95fc;
              }
            }
            hr {
              border: 1px solid #6d95fc;
              width: 144px;
              height: 0px;
            }
            p {
              color: #ffffff;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 300;
              font-size: 18px;
              line-height: 32px;
            }
            button {
              border: 3px solid #6d95fc;
              border-radius: 2px;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 20px;
              text-align: center;
              letter-spacing: 0.145em;
              text-transform: uppercase;
              color: #ffffff;
              cursor: pointer;
              background: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .last {
    .back {
      .hero {
        height: 950px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .hero_content {
          .left {
            display: flex;
            flex-direction: column;
            gap: 36px;
            h1 {
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              line-height: 111.49%;
              letter-spacing: 0.015em;
              text-transform: uppercase;
              color: #ffffff;
              span {
                color: #6d95fc;
              }
            }
            hr {
              border: 1px solid #6d95fc;
              width: 144px;
              height: 0px;
            }
            p {
              color: #ffffff;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 300;
              font-size: 16px;
              line-height: 32px;
            }
            button {
              border: 3px solid #6d95fc;
              border-radius: 2px;
              font-family: "Poppins", sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 13px;
              line-height: 20px;
              text-align: center;
              letter-spacing: 0.145em;
              text-transform: uppercase;
              color: #ffffff;
              cursor: pointer;
              background: none;
            }
          }
        }
      }
    }
  }
}
