﻿.back {
  background: linear-gradient(
    0deg,
    rgba(109, 149, 252, 0.67) -53.12%,
    rgba(109, 149, 252, 0) 30.39%
  );
  .footer_container {
    max-width: 80%;
    height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
    h1 {
      font-family: "Josefin Sans", sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 55px;
      line-height: 55px;
      text-align: center;
      letter-spacing: 0.015em;
      text-transform: uppercase;
      color: #6d95fc;
    }
    p:nth-of-type(1) {
      font-family: "Poppins", sans-serif, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.19em;
      color: #ffffff;
    }
    hr {
      width: 104.9px;
      height: 0px;
      border: 1px solid #ffffff;
    }
    nav {
      display: flex;
      gap: 42px;
      justify-content: center;
      a {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -0.025em;
        text-transform: capitalize;
        color: #6d95fc;
        list-style: none;
        cursor: pointer;
      }
    }
    p:nth-of-type(2) {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 166.5%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
    }
    nav {
      ul:last-child {
        gap: 29px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .back {
    .footer_container {
      max-width: 80%;
      height: 70vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 19px;
      h1 {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 45px;
        line-height: 55px;
        text-align: center;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        color: #6d95fc;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.19em;
        color: #ffffff;
      }
      hr {
        width: 104.9px;
        height: 0px;
        border: 1px solid #ffffff;
      }
      nav {
        ul {
          display: flex;
          gap: 42px;
          flex-wrap: wrap;
          justify-content: center;
          a {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: -0.025em;
            text-transform: capitalize;
            color: #6d95fc;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .back {
    .footer_container {
      max-width: 80%;
      height: 70vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 19px;
      h1 {
        font-family: "Josefin Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        line-height: 55px;
        text-align: center;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        color: #6d95fc;
      }
      p {
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.19em;
        color: #ffffff;
      }
      hr {
        width: 104.9px;
        height: 0px;
        border: 1px solid #ffffff;
      }
      nav {
        ul {
          display: flex;
          gap: 42px;
          flex-direction: column;
          justify-content: center;
          a {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: -0.025em;
            text-transform: capitalize;
            color: #6d95fc;
            list-style: none;
            cursor: pointer;
          }
        }
      }
      nav:last-child {
        ul:last-child {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .back {
    .footer_container {
      nav:last-child {
        ul:last-child {
          gap: 27px;
          a {
            img {
              width: 20px;
              height: 19.92px;
            }
          }
        }
      }
    }
  }
}
