﻿.Project_slider {
  width: 100%;
  height: 100%;
  padding: 0 20px 0 20px;
}

.Project_slider .swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Project_slider .swiper-slide .slide_img {
  border-radius: 15px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Project_slider .swiper-pagination {
  position: relative;
  padding-top: 40px;
}

.Project_slider .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  opacity: 1;
  background: white;
  border-radius: 0;
}

.Project_slider .swiper-pagination .swiper-pagination-bullet-active {
  background: #007aff;
}
