.ReviewsSlider {
  width: 100%;
  height: 100%;
  background: none;
  border-radius: 38px;
  height: 171%;
}

.ReviewsSlider .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReviewsSlider .swiper-slide img {
  display: block;
  object-fit: cover;
}

.ReviewsSlider .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.ReviewsSlider .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 1;
  border-radius: 0;
  width: 10px !important;
  height: 10px !important;
}

.ReviewsSlider .swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;

  background: #6d95fc;
}


@media screen and (max-width: 470px) {
  .ReviewsSlider{
    height: 111% !important ;
  }
}